h1 -- The LaValvas

tree name="Mario"
  @spouse name="Rosemarie"
  @child name="Robert"
    @spouse name="Venetia"
  @child name="Stephen"
    @spouse name="Joanne"
    @child name="Luke"
    @child name="Michael"
  @child name="Daniela"
    @child name="Emily" last="Ives"
    @child name="David" last="Ives"
  @child name="Lorenzo"
    @spouse name="Jami"
    @child name="Lia"
    @child name="Christian"